body{
  font-family: 'Open Sans', sans-serif;
  background-color: #4caf50;
  color: #FFFFFF;
}

.header{
  top: 0;
  left: 0;
  font-size: 3vmax;
  text-align:center;
  background-color: #2e7d32;
  color: #FFFFFF;
  width: 100%;
  height: 13%;
  margin: 0;
  position: fixed;
  display: block;
  z-index: 1;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

#headerspan{
  display: inline-block;
  vertical-align: middle;
  line-height: 75px;   
}

#inputspan{
  left: 0;
  margin-top: -150px;
  position: absolute;
  text-align: center;
  top: 45%;
  width: 100%;
  font-size: 2vmax;
}

#numinput{
  text-align: center;
  width: 100px;
  font-size: 1.7vmax;
  margin-top: 10px;
}

#btn, #copy-btn {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 1.2vmax;
  background: #40c4ff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  position: relative;
  display: inline-block;
}

#btn:hover, #copy-btn:hover {
  background: #00b0ff;
  text-decoration: none;
}

#btn:active, #copy-btn:active{
  background: #0091ea;
  text-decoration: none;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.3);
}

#oink{
  font-size: 1.5vmax;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#oinkContainer{
  background-color: #43a047;
  border-radius: 6px;
  margin-left: 20px;
  margin-right: 20px;
  display: none;
}

#error{
  margin-top: 20px;
  background-color: red;
  display: none;
}

#slowDownMessage{
  background-color: #ffab00;
  display: inline-block;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 2px;
  border-radius: 4px;
}